<h1>Cooked:</h1>
<div>
    <div>
        <h2 ng-hide="controller.data.page.totalElements > 0">So far nothing has been cooked...</h2>
        <table class="table table-striped" ng-hide="controller.data.page.totalElements == 0">
            <thead>
            <tr>
                <th>name</th>
                <th>date</th>
            </tr>
            </thead>
            <tr ng-repeat="c in controller.data.content">
                <td>{{c.recipe.name}}</td>
                <td>{{c.cookingDate | date:'medium'}}</td>
            </tr>
        </table>
    </div>
</div>