<h1>Ingredients</h1>
<div>
	<h2 ng-hide="controller.data.page.totalElements > 0">No ingredients in the database...</h2>
	<table class="table table-striped" ng-hide="controller.data.page.totalElements == 0">
		<thead>
			<tr>
				<th>name</th>
				<th>available amount</th>
				<th>action</th>
			</tr>
		</thead>
		<tr ng-repeat="i in controller.data.content">
			<td>{{i.name}}</td>
			<td>{{i.availableAmount}}</td>
			<td><button ng-click="controller.decrement(i);">-</button><button ng-click="controller.increment(i);">+</button></td>
		</tr>
	</table>
</div>