<h1>{{controller.recipe.name}}</h1>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>name</th>
        </tr>
        </thead>
        <tr ng-repeat="i in controller.reqIngredients">
            <td>{{i.name}}</a></td>
        </tr>
    </table>
</div>