<h1>Recipes which can be prepared</h1>
<div>
	<h2 ng-hide="controller.data.page.totalElements > 0">With this ingredients nothing can be cooked :(</h2>
	<table class="table table-striped" ng-hide="controller.data.page.totalElements == 0">
		<thead>
		<tr>
			<th>name</th>
			<th>action</th>
		</tr>
		</thead>
		<tr ng-repeat="r in controller.data.content">
			<td>{{r.name}}</td>
			<td><button type = "button" class = "btn btn-default" ng-click="controller.cook(r.id);">Cook</button></td>
		</tr>
	</table>
</div>