<h1>All Recipes</h1>
<div>
	<div>
		<h2 ng-hide="controller.data.page.totalElements > 0">No ingredients in the database...</h2>
		<table class="table table-striped" ng-hide="controller.data.page.totalElements == 0">
			<thead>
			<tr>
				<th>name</th>
			</tr>
			</thead>
			<tr ng-repeat="r in controller.data.content">
				<td><a ng-href="#/recipe/{{r.id}}/ingredients">{{r.name}}</a></td>
			</tr>
		</table>
	</div>
	<!--<div>-->
		<!--<a href="#/recipe/add" class = "btn btn-primary">Add new</a>-->
	<!--</div>-->
</div>